a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#menu_339cfa a { text-decoration: none; }
#menu_339cfa_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_339cfa_hr { background-color: #646464; height: 1px; border: none; }
#menu_339cfa_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_339cfa_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_339cfa_entry:hover span { color:#FFFFFF !important; }
		.menu_339cfa_mainMenuEntry { text-align: center; }
		.menu_339cfa_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_339cfa_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_339cfa .mobileEntry { display: none; } 
		#menu_339cfa .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_339cfa .mobileEntry { display: block; } 
			#menu_339cfa .normalEntry { display: none; } 
		}
#button_7483db53 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:102px; height:40px; background-color:#FFE300; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_7483db53:hover { background-color:#FFFFFF;  }
#button_7483db53:hover span { color:#000000; }
#menu_30cbec7a a { text-decoration: none; }
#menu_30cbec7a_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_30cbec7a_hr { background-color: #646464; height: 1px; border: none; }
#menu_30cbec7a_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_30cbec7a_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_30cbec7a_entry:hover span { color:#FFFFFF !important; }
		.menu_30cbec7a_mainMenuEntry { text-align: center; }
		.menu_30cbec7a_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_30cbec7a_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_30cbec7a .mobileEntry { display: none; } 
		#menu_30cbec7a .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_30cbec7a .mobileEntry { display: block; } 
			#menu_30cbec7a .normalEntry { display: none; } 
		}
#menu_4bd4b1e1 a { text-decoration: none; }
#menu_4bd4b1e1_pane { background-color: #2C2C2C; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4bd4b1e1_hr { background-color: #646464; height: 1px; border: none; }
#menu_4bd4b1e1_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4bd4b1e1_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4bd4b1e1_entry:hover span { color:#FFFFFF !important; }
		.menu_4bd4b1e1_mainMenuEntry { text-align: center; }
		.menu_4bd4b1e1_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_4bd4b1e1_mainMenuEntry:hover span {	color:#808080 !important; }
		#menu_4bd4b1e1 .mobileEntry { display: none; } 
		#menu_4bd4b1e1 .normalEntry { display: block; } 
		@media only screen and (max-width:640px) { 
			#menu_4bd4b1e1 .mobileEntry { display: block; } 
			#menu_4bd4b1e1 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_407dcf45 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1600px; background:none;  }
#container_1e24092a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#222222;  }
#container_1e24092a_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_78250f0d { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:57px; background:none;  }
#container_78250f0d_padding { margin: 10px; display: block;  }
#img_824b883 { vertical-align: bottom; position:relative; display: inline-block; width:110%; background:none; height:auto;  }
#container_23da745d { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_23da745d_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:right; }
#menu_339cfa { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:44px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:64px;  }
.textstyle4 { font-size:36pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style3 { position:absolute; width:63px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:81px; height:38px; left:73px;  }
.style6 { position:absolute; width:66px; height:38px; left:154px;  }
.textstyle6 { font-size:14pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  white-space: nowrap; }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle7 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_15f29634 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:300px; background-color:#AA967B; background-image: url(rc_images/about_us.jpg); background-position:center center; background-size:cover;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_64802b77 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_64802b77_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 4px #000000;  }
.textstyle10 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle11 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle12 { font-size:15pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E; line-height: 1.5;  }
.textstyle13 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_7b73e273 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_7b73e273_padding { margin: 10px; display: block;  }
#menu_30cbec7a { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
.style7 { position:absolute; width:78px; height:38px; left:73px;  }
.style8 { position:absolute; width:66px; height:38px; left:151px;  }
#container_3a25deb9 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:45px; background:none;  }
#container_3a25deb9_padding { margin: 10px; display: block;  }
#menu_4bd4b1e1 { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:38px; text-align:left; background:none;  }
@media only screen and (max-width: 640px)
{
		#container_78250f0d * span { font-size:15pt;  }
		#menu_339cfa { width:50px;  }
		#container_64802b77 * span { font-size:24pt;  }
		#menu_30cbec7a { width:50px;  }
		#menu_4bd4b1e1 { width:50px;  }
}
